
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
intend_style = tab
indent_size = 4

[{*.json,*.yml,*.sql}]
indent_style = space
indent_size = 2
